/*********************/
/* CSS général de la page */
/*********************/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Baloo Bhaina 2', cursive;
}

body {
  text-align: center;
}

/*********************/
/* Navbar sticky */
/*********************/
.wrapper {
  width: 1170px;
  margin: 0 auto;
}

header {
  height: 100px;
  background: #262626;
  width: 100%;
  z-index: 12;
  position: fixed;
}

.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}

.logo a {
  font-size: 30px;
  color: #fff;
  letter-spacing: 5px;
}

nav a {
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 100%;
  margin: 1%;
  color: #fff;
}

nav {
  float: center;
  line-height: 100px;
}

.liennav:hover {
  color: #262626;
  background-color: white;
  margin: 2%;
  padding: 2%;
  font-size: 150%;
  border-radius: 10px;
}

/*********************/
/* Bannière titre de la page */
/*********************/
.banner-area {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(background.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  letter-spacing: 10px;
}

.banner-area h2 {
  padding-top: 8%;
  font-size: 400%;
  text-transform: uppercase;
  color: white;
  font-family: 'Oswald', sans-serif;
}

/*********************/
/* Zone de contenu de la page */
/*********************/
.content-area {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  top: 450px;
  background: #ddd;
  height: 1500px;
}

.content-area h2 {
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 200%;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.content-area p {
  padding: 2% 0;
  line-height: 30px;
  font-size: 120%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.logo-container:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.logo-container img {
  max-width: 100%;
  max-height: auto;
  width: 120px;
  height: 120px;
  border-radius: 50px;
  margin-right: 100px;

}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}
.logo-container {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}





.code {
  max-width: 100%;
  max-height: auto;
  width: 400px;
  height: 300px;
}

.link{
  color:black;
  font-weight: bold;

  box-sizing: border-box;
  width: 100%;
  border: solid grey 1px;
  padding: 0.5%;
  border-radius: 10px;
}

.link:hover{
  color:red;
  font-style: italic;
}

.bloc1{
  background-color: grey;
  border-radius: 20px;
  color:white;
  margin: 1%;
}

.inspiration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4%;
}

h3 {
  background-color: #262626;
  color: white;
  margin: 2%;
  padding: 3%;
  font-size: 150%;
  border-radius: 10px;
}

h3:hover {
  background-color: white;
  color: #262626;
  font-size: 200%;
}

.meme {
  width: 15%;
}

/*********************/
/* Footer */
/*********************/
