/*********************/
/* CSS général de la page */
/*********************/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Baloo Bhaina 2', cursive;
}

body {
  text-align: center;
}
/*********************/
/* Navbar sticky */
/*********************/
.wrapper {
  width: 1170px;
  margin: 0 auto;
}

header {
  height: 100px;
  background: #262626;
  width: 100%;
  z-index: 12;
  position: fixed;
}

.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}

.logo a {
  font-size: 30px;
  color: #fff;
  letter-spacing: 5px;
}

nav a {
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 100%;
  margin: 1%;
  color: #fff;
}

nav {
    float: center;
    line-height: 100px;
}

 .liennav:hover {
  color:#262626;
  background-color: white;
  margin: 2%;
  padding: 2%;
  font-size: 150%;
  border-radius: 10px;
}
/*********************/
/* Bannière titre de la page */
/*********************/
.banner-area {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(media/code4.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  letter-spacing: 10px;
}

.banner-area h2 {
  padding-top: 8%;
  font-size: 400%;
  text-transform: uppercase;
  color: white;
  font-family: 'Oswald', sans-serif;
}

/*********************/
/* Zone de contenu de la page */
/*********************/

.content-area {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  top: 450px;
  background: #ddd;
  height: 1500px;
}
